

h1 {
    color: rgb(44, 255, 185);
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-family:Arial;
}

h5 {
    text-align: center;
    font-weight: bold;
    color: black;
    font-family:Arial;
}

form {
    text-align: center;
    font-family:Arial;
}